html, body {
    margin: 0;
    padding: 20px 30px;
    font-family: 'Karla', Arial, sans-serif;
    font-style: normal;
    background-color: #1F2937;
    color: white;
    font-size: 120%;
}

.container {   
    /* padding: 30px; */
}

h1 {
    font-weight: 800;
}

.output {
    /* display: flex; */
    margin-top: 30px;
}

.greenHeader {
    color: #10B981;
}

h3, h4, h5 {  
    color: white;  
}

.generate {
    margin-top: 12px;
    background-color: #10B981;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 3px;
    font-size: medium;
}

.input {
    background-color: #273549;
    border: none;
    border-radius: 3px;
    color: #10B981;
    text-align: center;
    padding: 8px;
    margin-top: 3px;
    margin-right: 15px;
    font-size: medium;
}